<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Weight:</strong>
  <%= number_with_delimiter(@animal.weight) %> kg
</p>

<p>
  <strong>Notes:</strong>
  <%=simple_format(@animal.notes)%>
    
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
